body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("./covert.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  
  .container {
    max-width: 400px;
    margin: 220px auto;
    padding: 50px;
    border: 10px solid #ffffff;
    background-color: rgb(246, 246, 254);
    /* background: transparent; */

  }

  h1{
    font-style:italic;
    color: rgb(24, 7, 7);
  }
  
  label {
    display: block;
    /* border: 3px solid #ffffff; */
    color: rgb(131, 115, 115)
    margin-bottom: 5px;
  }
  
  input, select, button {
    margin-bottom: 10px;
  }
  
  button {
    cursor: pointer;
  }
  
  #result {
    margin-top: 20px;
    font-size: 18px;
    color: rgb(98, 22, 22);
  }